*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: Tahoma;
}    
#root { 
    width: 100vw;  
    box-sizing: border-box;

}
#header{
    display: flex;
    justify-content: space-evenly;
    color: black;
    padding: 8px;
    text-align: center;
}
#header div h6 a{
    color: black;
}

#header div {
    display: flex;


}
#header div a{
    text-decoration: none;
}
#headerImg{
    background-image: url("bg.img");
    background-size: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 188px;
    color: black;
    padding: 0px 20px;

    
}
.logo {
    width: 20%;
 
}
.title {
    width: 50%;
    text-align: center;

}
.title p{
    width: 100%;
    font-size: 1.5em;
}
#photos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px;
    width: 30%;
    text-align: right;
}
#searchBar{
    margin: 20px;
}

#headerImg p{
    color: #B54321;
}
#headerImg li {
    list-style-type: none;
}
#headerImg a{
    text-decoration: none;
    color: black;
}
#headerImg div {

    /* width:60%; */
    
}
#navBar {
    height: 40px;
    display: flex;
    background-color: #B54321;
    justify-content:center;
    align-items: center;
    gap: 20px;
    font-size: 13px;


}
#navBar div a {
    text-decoration: none;
    color: white;
    

}
#navBar div li {
    list-style-type: none;
}

#scroll {
    width: 100%;
    position: relative;

    /* display: none; */

}
#scrollButton{
    position: absolute;
    top: 60%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px 2.5%;
    box-sizing: border-box;
}

.mySlides{
    width: 100%;
}
.button {  
    color: white;
    padding: 10px 20px;
    border-radius: 50%;
    background-color:black;
    border: none;

}
#details {
    display: flex;
    justify-content: space-evenly;
    margin: 70px;
  
}
#main{
    display: flex;
    flex-direction: column;

}

#details div {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
#details div img {
    border-radius: 50%;
    border: 2px solid #B54321 ;
    width: 128px;
    background-color: #B54321;
    padding: 5px;
    margin: 20px;

}
#details div h4{
    color: #B54321;

}
#healthDetails {
    height: 800px;

}
#healthDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 5px solid black; */
    background-color: #B54321;
}
#healthDiv p {
    color: white;

}
#members{
    display: flex;
    justify-content: space-around;
    align-items: center;


}
#informationBlock {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    background-color: black;
    /* border: 5px solid rgb(209, 10, 10); */

}
.infoBlock {
    /* width: 30%; */
    padding: 10px 20px;

}
.infoBlock div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* padding: 10px 0px; */
}
.infoBlock div h5{
    color: white;
}
.infoBlock div p{
    padding: 5px 0px;
    
}
.infoBlock div p a{
    text-decoration: none;
    border-bottom: 1px dotted gray;    
}
#youtubeSection{
    display: flex;
    justify-content: space-around;
    background-color: dimgray;
    padding: 10px 0px;

}
#youtubeSection div h5{
    font-size:20px ;
    text-align: center;
    margin: 5px 0px;
    color: white;

}
#gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    padding: 20px 0px;

}
#galleryHeader p{
    text-align: left;
}
#galleryImage {
    display: flex;
    gap: 35px;
    align-content: center;
    justify-content: space-evenly;

}
#galleryImage div{
    min-height: 200px;
    width: 14%;
    /* border: 2px solid red; */
    text-align: center;
    padding: 15px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}
#galleryImage div img{
    border: 1px solid gray;
}

#gallery div p{
    width: 100%;
    text-align: center;
    color: black;
    background-color: #FFFFFF;

}
#galleryImage div:hover{
    padding: 30px 5px;
    transition: ease-in;
    transition-duration: 0.3s;

}
#footer{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color:#313131;
    color: white;
    padding: 20px;

}
#footer a,p{
    font-size:small;

}
#footer h3, a, p{
    color: white;
    width: 300px;
    height: 35px;

}
#footerMenu {
    height: 400px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* width: 300px;
    height: 35px; */
    


}
#footerMenu div{
    width: 300px;
    height: 35px;

    
}
#footerMenu div li{
    list-style: none;
    width: 300px;
    height: 35px;
    font-size:small;



}
#footerMenu div a {
    text-decoration: none ;
    width: 300px;
    height: 35px;
    font-size:small;


    
}
#bottom{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#copyRight{
    display: flex;
    width: 80%;
}